.button, a.button, .navbar-nav > li > a.button {
  $yellow: rgb(255, 208, 0);
  $red: rgb(255, 0, 106);
  $h: 48px;
  height: $h;
  line-height: $h;
  padding: 0 $h/2;
  background-color: $yellow;
  color: #fff;
  text-transform: lowercase;
  display: inline-block;
  @include border-radius($h/2);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
  @include transition(all .4s ease-out);
  &:hover {
    color: #fff;
    background-color: lighten($yellow, 10);
    text-decoration: none;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2));
  }
  &.red {
    background-color: $red;
    &:hover {
      background-color: lighten($red, 10);
    }
  }
  &.white {
    color: $yellow;
    background-color: #fff;
  }
  &.autocomplete__button {
    position: relative;
    overflow: visible;
    .autocomplete__input {
      color: $yellow;
      background-color: transparent;
      border: none;
      outline: none;
    }
    .autocomplete__list {
      top: 100%;
      left: 0;
      width: 80%;
      padding: 0;
      position: absolute;
      background-color: #fff;
      margin: 2px 10%;
      @include transition(all .4s ease-out);
      @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2));
      .item {
        @include transition(all .4s ease-out);
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0 12px;
        cursor: pointer;
        &:hover {
          background-color: #edf4f5;
          color: #4d5556;
        }
      }
    }
  }
  &.secondary {
    $h: 36px;
    height: $h;
    line-height: $h;
    background-color: transparent;
    border: 1px solid $yellow;
    color: $yellow;
    @include box-shadow(none);
    &:hover {
      background-color: $yellow;
      color: #fff;
    }
    &.red {
      border: 1px solid $red;
      color: $red;
      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
  }
}


@media (min-width: 1280px) {
  .button.primary, a.button.primary {
    $h: 72px;
    height: $h;
    line-height: $h;
    font-size: $h/3;
    line-height: $h;
    @include border-radius($h/2);
  }
}
